<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{CSS_PATH}}">
    <title>{{TITLE}}</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <ul>
                <li><a href="{{NAV_TITLE_LINK}}">{{NAV_TITLE}}</a></li>
                {{NAV_LINKS}}
            </ul>
        </nav>
    </header>
    <main>
        {{CONTENT}}
    </main>
    <footer>
        {{FOOTER_INFO}}
    </footer>
</body>
</html>
