<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>{{TITLE}}</title>
</head>
<body>
    <header>
        <nav>
            <div>{{NAV_TITLE}}</div>
            <nav>
                {{NAV_LINKS}}
            </nav>
        </nav>
    </header>
    <main>
        {{CONTENT}}
    </main>
    <footer>
        {{FOOTER_INFO}}
    </footer>
</body>
</html>
