<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{CSS_PATH}}">
    <title>{{TITLE}}</title>
</head>
<body>
    <!-- Thanks https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ for keeping footer at bottom -->
    <div id="page-container">
        <div id="content-wrap">
            <header>
                <nav id="navbar">
                    <ul>
                        <li><a href="{{NAV_TITLE_LINK}}">{{NAV_TITLE}}</a></li>
                        {{NAV_LINKS}}
                    </ul>
                </nav>
            </header>
            <main>
                {{CONTENT}}
            </main>
        </div>
        <footer id="footer">
            {{FOOTER_INFO}}
        </footer>
    </div>
</body>
</html>
